
.main-nav{
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}
.main-nav__logo{
	display: block;
	text-decoration: none;
	width: 75px;
	height: 24px;
	background: url(../img/logo-mobile.png) no-repeat center;
}
.main-nav__user-list{
	display: block;
	border: none;
	outline: none;
	cursor: pointer;
	text-decoration: none;
	width: 50px;
	height: 24px;
	background: url(../img/menu-burger.png) no-repeat;
}
.main-nav__toggle{
	display: none;
}
@media (min-width: 660px) {
		.main-nav__logo{
		display: block;
		text-decoration: none;
		width: 147px;
		height: 40px;
		margin-top: 10px;
		background: url(../img/logo-pink-white-tablet.svg) no-repeat center;
	}
	.main-nav__logo:hover{
	background: url(../img/PINK-1.png) no-repeat center;
	}
	.main-nav__logo:active{
	background: url(../img/logo-pink-white-tablet.svg) no-repeat center;
	opacity: 0.3;
	}
	.main-nav__user-list{
		margin-top: 20px;
		margin-right: 0;
	}
	.main-nav__toggle{
		display: none;
	background: url(../img/menu-cross.png) no-repeat 85% 47%;
}

}
@media (min-width: 1200px) {
		.main-nav__logo{
		display: block;
		text-decoration: none;
		width: 147px;
		height: 40px;
		margin-top: 10px;
		background: url(../img/logotype-white-desktop.png) no-repeat center;
	}
	.main-nav__user-list{
		display: none;
		margin-top: 20px;
		margin-right: 0;
	}
	.main-nav__toggle{
	background: url(../img/menu-cross.png) no-repeat 85% 47%;
}

}